h2 {
	color: #4C3D89;
}

#themascontainer {
	box-sizing: border-box;
	width: 1000px;
	overflow-x: scroll;
}
#themas {
	display: flex;
	align-items: center;
}
.thema_button {
	box-sizing: border-box;
	background-color: #8D81B7;
	color: white;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 15px;
	font-weight: bold;
	line-height: normal;
	height: 72px;
	width: 150px;
	border: 1px solid white;
	display: inline-block;
	padding: 10px;
}
.thema_button.active {
	background-color: #4C3D89;
}

.tableauContainer {
	position: absolute;
	left: -2000px;
}
.tableauContainer.active {
	position: static;
}

/*Kaart*/
#map {
	/*height: calc(100vh - 21px);*/
	height: 600px;
	width: 800px;
	background-color: rgba(0,0,0,0);
}